* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: lightblue;
}
.all-users{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.top-heading{
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    width: 10%;
    position: center;
    margin-left: 700px;
}
.admin-logOut{
    cursor: pointer;
    padding: 15px 15px;
    font-weight: bold;
    font-size: larger;
    outline: none;
    border: 0;
    margin-top: -68px;
    margin-left: 1300px;
    color: orangered;
}
.heading{
    display:flex;
}
.id-info{
    width: 25%;
    Padding: 13px 50px;
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: thin;
    background: cornflowerblue;
    margin-bottom: 20px;
    position: center;
    font-weight: bold;
    font-size: larger;
}
.user-info{
    width: 25%;
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: thin;
    background: cornflowerblue;
    margin-bottom: 20px;
    margin-left: 200px;
    position: center;
    font-weight: bold;
    font-size: larger;
}
.email-info{
    width: 25%;
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: thin;
    background: cornflowerblue;
    margin-bottom: 20px;
    margin-left: 250px;
    position: center;
    font-weight: bold;
    font-size: larger;
}
.role{
    width: 25%;
    cursor: pointer;
    display: block;
    background: cornflowerblue;
    border-style: solid;
    border-width: thin;
    margin-bottom: 20px;
    margin-left: 200px;
    position: center;
    font-weight: bold;
    font-size: larger;
}
.info{
    display: flex;
    font-size: large;
}

.id-info-var{
    padding: 1em 2em;
    margin-bottom: 70px;
    table-layout: fixed;
    font-size: large;
    position: fixed;
}
.user-info-var{
    position: fixed;
    padding: 1em 4em;
    margin-bottom: 90px;
    margin-left: 400px;
    text-align: center;
    table-layout: fixed;
    font-size: large;
}
.email-info-var{
    position: fixed;
    padding: 1em 4em;
    margin-bottom: 90px;
    float: left;
    clear: left ;
    margin-left:830px;
    font-size: large;
}
.role-var{
    position: fixed;
    padding: 10px 30px;
    margin-bottom: 90px;
    margin-left: 1270px;
    background: goldenrod;
    font-size: large;
}
.list{
    display: none;
}
.info:hover .list{
    display: grid;
    border: black;
    position: absolute;
    margin-left: 1270px;
    margin-top: 44px;
}
.info:hover .links{
    display: block;
    padding: 1.8px 15px;
}
.links{
    background: cornflowerblue;
}