* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.userLogin {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.row{
    column-count: 3;
    column-gap: 30px;
    column-width: 50px;
}
.date-input{
    width: 100%;
    position: center;
    color: darkblue;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    text-decoration: lightblue;
    border-style: solid;
    border-width: thin;
    border-color: blueviolet;
}
.color-input-expired {
    width: 35%;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: 50px;
    background: gray;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: center;
}
.color-input-booked {
    width: 35%;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: 50px;
    background: green;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: center;
}
.color-input-cancelled {
    width: 35%;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: 50px;
    background: yellow;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: center;
}
