* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.userLogin {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.row{
    column-count: 3;
    column-gap: 30px;
    column-width: 50px;

}
.date-input{
    width: 100%;
    position: center;
    color: darkblue;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    text-decoration: lightblue;
    border-style: solid;
    border-width: thin;
    background: white;
    border-color: darkblue;
}
.color-input-expired {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: gray;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}
.color-input-booked {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: green;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}
.color-input-cancelled {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: yellow;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}
.color-input-notBookedAndCantBeCancelled{
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: yellow;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}
.color-input-bookedButCantBeCancelled {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: yellow;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}
.userLogout{
    width: 25%;
    margin-top: 10px;
    margin-left: -450px;
    cursor: pointer;
    padding: 15px 20px;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: absolute;
    border-radius: 30px;
}
