* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.userLogin {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.toggle-button{
    display: inline-block;
    padding: 10px 49.8px;
    cursor: pointer;
    background: lightblue;
    position: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: larger;
}

.row{
    column-count: 3;
    column-gap: 30px;
    column-width: 50px;
    display: none;
}

.date-input{
    width: 100%;
    position: center;
    color: darkblue;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    text-decoration: lightblue;
    border-style: solid;
    border-width: thin;
    background: white;
    border-color: darkblue;
}
.color-input-expired {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: gray;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}

.color-input-booked {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: green;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}

.color-input-cancelled {
    width: 35%;
    padding: 13px 50px;
    cursor: pointer;
    display: block;
    margin-left: 135px;
    margin-bottom: 45px;
    background: yellow;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: center;
    font-weight: bold;
}
.back{
    width: 15%;
    margin-left: 300px;
    margin-top: -20px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: absolute;
    border-radius: 30px;
}

.userLogout{
    width: 15%;
    margin-left: 900px;
    margin-top: -20px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: absolute;
    border-radius: 30px;
}

.booked-slots{
    width: 15%;
    margin-left: 600px;
    margin-top: -20px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: absolute;
    border-radius: 30px;
}

