* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.userLogin {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.row{
    column-count: 3;
}
.date-input{
    width: 100%;
    position: center;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    text-decoration: lightblue;
    border: blueviolet;

}
.color-input-expired {
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: gray;
    border: 0;
    outline: none;
    border-radius: 30px;

}
.color-input-booked {
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: green;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: center;
}
.color-input-cancelled {
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: yellow;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: center;
}
