body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: lightblue;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
}