* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: lightblue;
}
.user-slots {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.heading{
    text-align: center;
    font-size: xxx-large;
    color: black;
    margin-bottom: 50px;
    border-width: thick;
    border-style: solid;
    border-color: green;
    width: 25%;
    position: center;
    margin-left: 530px;
    background: linen;
}
.row-division{
    column-count: 3;
    column-gap: 30px;
    column-width: 50px;
}
.list{
    color: green;
    font-size: xx-large;
    text-align: center;
    width: 75%;
    display: block;
    border-style: solid;
    border-width: thin;
    background: linen;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.user-logOut{
    width: 15%;
    cursor: pointer;
    margin-left: 500px;
    padding: 15px 15px;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: absolute;
    border-radius: 30px;
    margin-top: 4%;
}
.back{
    width: 15%;
    margin-left: 750px;
    cursor: pointer;
    padding: 15px 15px;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: absolute;
    border-radius: 30px;
    margin-top: 4%;
}
