<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="css/allUsers.css">
</head>
<body>
<div class="all-users" id="users">
    <div class="row-division">
        {{range $key,$value := .users}}
            {{range $value}}
                <p class="list">{{$key}} - {{.startTime}}</p>
            {{end}}
        {{end}}
    </div>
    <button id="logOut" class="user-logOut" onClick="logOut()">Log Out</button>
    <button id="back" class="back" onClick="window.location.reload();">Back</button>
</div>
</body>
</html>
