<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="css/allUsers.css">
</head>
<body>
<h1 class="top-heading">Admin Page</h1>
<button id="logOut" class="admin-logOut" onClick="logOut()">Log Out</button>
<div class="all-users" id="allUsers">
    <div class="heading">
        <button class="id-info">User ID</button>
        <button class="user-info">Name</button>
        <button class="email-info">Email ID</button>
        <button class="role">Role</button>
    </div>
    {{range $key,$value:= .users}}
    <div class="info">
        <button class="id-info-var">{{$key}}</button>
        <button class="user-info-var">{{$value.firstName}} {{$value.lastName}}</button>
        <button class="email-info-var">{{$value.email}}</button>
        <button id="role" type="button" class="role-var">{{$value.role}}</button>
        <div class="list">
            <button id="user-role" type="button" class="links" onClick="changeRoleToUser()">user</button>
            <button id="admin-role" type="button" class="links" onClick="changeRoleToAdmin({{$value.role}})">admin
            </button>
            <button id="block_user" type="button" class="links" onClick="blockUser({{$value.role}})">block_user</button>
            {{end}}
        </div>
    </div>
</div>
</body>
</html>
