<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="css/index1.css">
</head>
<body>
<div id="slot-api"></div>
<div class="userLogin" id="user-login">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log In</button>
            <button type="button" class="toggle-btn1" onclick="register()">Register</button>
        </div>
        <form id="login" class="input-group" onLoad="checkCookie()">
            <label for="email">Email</label>
            <input type="email" id="email" class="input-field" name="email" placeholder="Enter Email" required>
            <label for="password">Password</label>
            <input type="password" id="password" class="input-field" name="password" placeholder="Enter Password"
                   required>
            <button type="submit" class="submit-btn">Log In</button>
        </form>
        <form id="register1" class="input-group">
            <label for="first_name1">First Name</label>
            <input type="text" id="first_name1" class="input-field" name="firstName" placeholder="Enter First Name"
                   required>
            <label for="last_name1">Last Name</label>
            <input type="text" id="last_name1" class="input-field" name="lastName" placeholder="Enter Last Name"
                   required>
            <label for="email1">Email</label>
            <input type="email" id="email1" class="input-field" name="email" placeholder="Enter Email" required>
            <label for="password1">Password</label>
            <input type="password" id="password1" class="input-field" name="password" placeholder="Enter Password"
                   required>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>
<script>
    let x = document.getElementById("login");
    let y = document.getElementById("register1");
    let z = document.getElementById("btn");

    function register() {
        x.style.left = "-400px"
        y.style.left = "50px"
        z.style.left = "110px"
    }

    function login() {
        x.style.left = "50px"
        y.style.left = "450px"
        z.style.left = "0"
    }

    let addUserURL = '/api/add-user';
    let generateTokenURL = '/api/generate-token';
    let slotApiURL = '/api/v1/get-slot';
    let globalToken;

    const myForm = document.getElementById('register1');
    myForm.addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        fetch(addUserURL, {
            method: 'POST',
            body: JSON.stringify(Object.fromEntries(formData))
        }).then(function (response) {
            if (response.ok) {
                window.location = '/';
                return response.json();
            } else {
                return Promise.reject(response);
            }
        }).catch(function (error) {
            alert("Email already exists, please register using a different Email ID")
            console.warn(error);
        })
    });

    const myFormLogin = document.getElementById('login');
    myFormLogin.addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch(generateTokenURL, {
            method: 'POST',
            body: JSON.stringify(Object.fromEntries(formData)),
        }).then(function (response) {
            if (response.ok) {
                return response.json();
            } else {
                return Promise.reject(response);
            }
        }).then(function (tokenJson) {
            globalToken=tokenJson.token;
            setCookie("token", tokenJson.token, 1);
            let token = getCookie("token");
            if (token) {
                token = "Bearer " + token;
                fetch(slotApiURL, {
                    method: 'GET',
                    headers: {
                        'content-type': 'application/json',
                        'Authorization': token,
                        'Accept': 'application/json',
                    }
                }).then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        return Promise.reject(response);
                    }
                }).then(function (slots) {
                    let x = document.getElementById("user-login");
                    x.style.display = 'none';
                    document.getElementById("slot-api").innerHTML = slots;
                    let y = document.getElementById("2022-07-24-slots")
                    y.style.display='block'
                    localStorage.setItem(prevDate,"2022-07-24-slots")
                }).catch(function (error) {
                    console.warn(error);
                })
            }
        }).catch(function (error) {
                alert("invalid credentials");
                console.warn(error);
        })
    });

    let bookSlotURL = '/api/v1/add-booking';
    let cancelSlotURL = '/api/v1/cancel-booking';

    function bookSlot(startTime,date) {
        let body = {"start_time": startTime,"date": date};
        let token =getCookie("token")
        if (token) {
            token = "Bearer " + token;
            fetch(bookSlotURL, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                    'Authorization': token,
                },
                body: JSON.stringify(body),
            }).then(function (response) {
                if (response.ok) {
                    document.getElementById(date + "-" + startTime).onclick = function(){cancelSlot(startTime,date)};
                    document.getElementById(date + "-" + startTime).className='color-input-booked'
                    document.getElementById(date + "-" + startTime).style.background = 'green';
                    alert("Slot booked successfully");
                }
            }).catch(function (error) {
                alert("Crossed the booking time");
                console.warn(error);
            })
        }
    }

    function cancelSlot(startTime,date) {
        let hh = startTime.slice(0,2);
        let mm = startTime.slice(3,5);
        const slotMonth = Number(date.slice(5,7));
        const slotDay = Number(date.slice(8,10));
        let minutesToAdd=30;
        let currentDate = new Date();
        const currMonth = currentDate.getMonth()+1;
        const currDay = currentDate.getDate();
        let futureDate = new Date(currentDate.getTime() + minutesToAdd*60000);
        let presentDate = new Date(currentDate.getFullYear(),currentDate.getMonth(), currentDate.getDate(), hh, mm);
        if (currMonth==slotMonth && currDay==slotDay && presentDate<futureDate){
            alert("The booked slot within 30 minutes can't be cancelled")
            return;
        }

        let body = {"start_time": startTime,"date": date};
        let token =getCookie("token")
        if (token) {
            token = "Bearer " + token;
            fetch(cancelSlotURL, {
                method: 'PUT',
                headers: {
                    'content-type': 'application/json',
                    'Authorization': token,
                },
                body: JSON.stringify(body),
            }).then(function (response) {
                if (response.ok) {
                    document.getElementById(date + "-" + startTime).onclick = function(){bookSlot(startTime,date)};
                    document.getElementById(date + "-" + startTime).className='color-input-cancelled'
                    document.getElementById(date + "-" + startTime).style.background='yellow'
                    alert("slot cancelled successfully");
                }
            }).catch(function (error) {
                alert("crossed the cancellation time");
                console.warn(error);
            })
        }
    }

    function expiredSlot(startTime,date) {
        alert("slot has expired");
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function checkCookie() {
        let token = getCookie("token");
        if (token !== "") {
            if (token) {
                token = "Bearer " + token;
                fetch(slotApiURL, {
                    method: 'GET',
                    headers: {
                        'content-type': 'application/json',
                        'Authorization': token,
                        'Accept': 'application/json',
                    }
                }).then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        return Promise.reject(response);
                    }
                }).then(function (slots) {
                    let x = document.getElementById("user-login");
                    x.style.display = 'none';
                    document.getElementById("slot-api").innerHTML = slots;
                }).catch(function (error) {
                    console.warn(error);
                })
            }
        }
    }

    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        checkCookie();
    }

    function logOut(){
        document.cookie = "token=; expires = Thu, 01 Jan 1970 00:00:00 UTC" + ";path=/";
        window.location.reload();
    }

    let prevDate="2022-07-24-slots";
    localStorage.setItem("prevDate",prevDate);
    window.onload = function () {
        let prevX = document.getElementById(prevDate);
    };

    function toggle(date){
        let customID = date + "-slots";
        let x = document.getElementById(customID)
        if(localStorage.getItem("prevDate")){
            let getDate = localStorage.getItem("prevDate")
            let y=document.getElementById(getDate)
            y.style.display='none';
        }
        x.style.display='block';
        localStorage.setItem("prevDate",customID);
    }
</script>
</body>
</html>