<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="css/slot.css">
</head>
<body>
<div class="userLogin">
    <div class="app-time">
        <div>
            <form id="slots" class="input-group">
                {{range .slots}}
                    <ul>{{.date}}</ul>
                    <button type="button" class="color-input">{{.startTime}}</button>
                {{end}}
            </form>
        </div>
    </div>
</div>
<script>
    // let userSlotsURL = 'http://localhost:8080/api/v1/user-slots';
    // let token = window.localStorage.getItem(email);
    // console.log(token);
    // if (token) {
    //     token = "Bearer " + token;
    //     fetch(userSlotsURL, {
    //         method: 'GET',
    //         headers: {
    //              'Authorization': token,
    //         }
    //     }).then(function (response) {
    //         if (response.ok) {
    //             return response.json();
    //         } else {
    //             return Promise.reject(response);
    //         }
    //     }).catch(function (error) {
    //         console.warn(error);
    //     })
    // }
</script>
</body>
</html>