<html>
<head>
    <title>check</title>
    <link rel="stylesheet" href="css/test.css">
</head>
<body>
<form action="#">
    <label for="lang">Language</label>
    <select name="languages" id="lang">
        <option value="javascript">JavaScript</option>
        <option value="php">PHP</option>
        <option value="java">Java</option>
        <option value="golang">Golang</option>
        <option value="python">Python</option>
        <option value="c#">C#</option>
        <option value="C++">C++</option>
        <option value="erlang">Erlang</option>
    </select>
</form>
</body>
</html>