<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="css/userBookedSlot.css">
</head>
<body>
<div class="user-slots" id="bookings">
    <h1 class="heading">All Booked Slots:</h1>
    {{range $key,$value := .userSlots}}
        {{range $value}}
            <p class="list">{{$key}} - {{.startTime}}</p>
        {{end}}
    {{end}}
    <button id="logOut" class="user-logOut" onClick="logOut()">Log Out</button>
    <button id="back" class="back" onClick="window.location.reload();">Back</button>
</div>
</body>
</html>
