<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="css/userBookedSlots.css">
</head>
<body>
<div class="user-slots" id="bookings">
    <h1 class="heading">All Booked Slots:</h1>
    <div class="row-division">
        {{range $key,$value := .userSlots}}
            {{range $value}}
                <p class="list">{{$key}} - {{.startTime}}</p>
            {{end}}
        {{end}}
    </div>
    <button id="logOut" class="user-logOut" onClick="logOut()">Log Out</button>
    <button id="back" class="back" onClick="window.location.reload();">Back</button>
</div>
</body>
</html>
